Repository ansys/pyseascape, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- .pre-commit-config.yaml
- pyproject.toml
dependencies:
- pyproject.toml

Update the python version badge.
  README.rst
Labels: documentation

Bump version to 0.2.0
  src/ansys/seascape/__init__.py
  tests/test_metadata.py
Labels: none

Bump to version 0.3.dev0
  src/ansys/seascape/__init__.py
  tests/test_metadata.py
Labels: none

Missing version bump to 0.2.0
  pyproject.toml
Labels: maintenance, dependencies

Updating ansys-sphinx theme for documentation build
  doc/source/conf.py
  requirements_docs.txt
Labels: documentation

Allowing for docs release in v0.1.0 (new format)
  .github/workflows/ci_cd.yml
Labels: maintenance

Allowing workflow to execute on release branch
  .github/workflows/ci_cd.yml
Labels: maintenance

Solving dropdown menu issues
  .github/workflows/ci_cd.yml
Labels: maintenance

Add contribution section to the documentation.
  .pre-commit-config.yaml
  README.rst
  doc/source/general/index.rst
  doc/source/index.rst
  examples/README.rst
Labels: documentation, maintenance

Update dev version.
  pyproject.toml
Labels: maintenance, dependencies

Update dev version. (#51)
  pyproject.toml
Labels: maintenance, dependencies

Add contributing file.
  doc/source/Contributing.rst
Labels: documentation

Fix title underline.
  doc/source/Contributing.rst
Labels: documentation

Broken badge
  README.rst
Labels: documentation

Update doc/source/Contributing.rst
  doc/source/Contributing.rst
Labels: documentation

Add contribution section to the documentation. (#50)
  .pre-commit-config.yaml
  README.rst
  doc/source/Contributing.rst
  doc/source/general/index.rst
  doc/source/index.rst
  examples/README.rst
Labels: documentation, maintenance

Upgrade main Python version to 3.10
  .github/workflows/ci_cd.yml
Labels: maintenance

Upgrade isort.
  .pre-commit-config.yaml
Labels: maintenance

Upgrade black hook for pre-commit.
  .pre-commit-config.yaml
Labels: maintenance

Fix code style.
  src/ansys/seascape/utils.py
Labels: none

Upgrade main Python version to 3.10 for CI/CD. (#60)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  src/ansys/seascape/utils.py
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

Proper json location
  doc/source/conf.py
Labels: documentation

Rename pyansys/actions as ansys/actions in workflows.
  .github/workflows/ci_cd.yml
Labels: maintenance

Rename pyansys/actions as ansys/actions in workflows. (#77)
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: broken link
  doc/source/Contributing.rst
Labels: documentation

fix: second broken link
  doc/source/Contributing.rst
Labels: documentation

maint: weekly dependabot updates
  .github/dependabot.yml
Labels: maintenance

Update label.yml
  .github/workflows/label.yml
Labels: maintenance
