Repository ansys/pyseascape, pull requests merged in 2022-09, with the labels that each got.

#21 Update comments.
  src/ansys/seascape/redhawk.py
  src/ansys/seascape/scapp.py
Labels: documentation

#23 Deploy the doc to pyansys/pyseascape-docs.
  .github/workflows/ci_cd.yml
Labels: maintenance

#24 Correction in documentation
  doc/source/general/index.rst
Labels: documentation

#25 Enabled workflow to release package to TestPyPI
  .github/workflows/ci_cd.yml
Labels: maintenance

#29 Modified Readme badges
  README.rst
Labels: documentation, maintenance

#30 Use build command to generate the wheel.
  .github/workflows/ci_cd.yml
Labels: maintenance

#31 Fix readme badge alt text
  README.rst
Labels: documentation

#32 Attempt fix 1 for release workflow issues and some wording correction…
  .github/workflows/ci_cd.yml
  README.rst
Labels: documentation, maintenance

#34 Move from TestPyPI to PyPI
  .github/workflows/ci_cd.yml
Labels: maintenance

#35 Add nojekyll file.
  .github/workflows/ci_cd.yml
Labels: maintenance

#36 Updated missing requirements in setup.py
  setup.py
Labels: maintenance

#37 Fix badge in readme
  README.rst
Labels: documentation
